<nav id="menu">
				<ul class="sf-menu">

					

                    <li {% if nav == 1 or nav == 12 or nav == 2 or nav == 4 or nav == 53 or nav == 60 %} class="current" {% endif %}> <a HREF="/">单品管理</a></li>


                    
                   

                    <li {% if nav == 17 or nav == 54 %} class="current" {% endif %} ><a HREF="/feed/">范团儿</a></li>
                    <li {% if nav == 71 %} class="current" {% endif %} ><a HREF="/daren/">明星范</a></li>
                    <li {% if nav == 70 %} class="current" {% endif %} ><a HREF="/wenda/">范问答</a></li>
					               
					
       

                
                    <li {% if nav == 11 or nav == 10 or nav == 13 or nav == 5 %} class="current" {% endif %} ><a HREF="/chongshenq/">范精品</a></li>


 

                    

             
                    

       

                    <!--<li {% if nav == 18 or nav == 6 or nav == 14 or nav == 15 or nav == 16 or nav == 56  %} class="current" {% endif %}  ><a HREF="/setdapei">范分享</a></li>-->

                    

  
                    <li {% if nav == 8 or nav == 9 %} class="current" {% endif %}  ><a HREF="/pictlist/">范杂志</a></li>

                    <li {% if nav == 80 or nav == 81 or nav == 54 %} class="current" {% endif %}  ><a HREF="/shoupei/">首页设置</a></li>

                    <li {% if nav == 90 or nav == 91 %} class="current" {% endif %}  ><a HREF="/job_huifu/">总回复任务及统计</a></li>
            



                    
				
                </ul>
</nav>