<nav id="menu">
				<ul class="sf-menu">

					 <li {% if nav == 1 %} class="current" {% endif %}> <a HREF="/">首页</a></li>

                    

					
                    <li {% if nav == 2 %} class="current" {% endif %}>
						<a HREF="/x">分配修片</a>						
					</li>

                   

                    
					
                    <li {% if nav == 3 %} class="current" {% endif %} ><a HREF="/b">分配背景</a></li>

                    

                    
                    
                    <li {% if nav == 4 %} class="current" {% endif %}  ><a HREF="/judge">审核</a></li>

                    <li {% if nav == 5 %} class="current" {% endif %}  ><a HREF="/setindex">设置单品首页排序</a></li>

                    <li {% if nav == 6 %} class="current" {% endif %}  ><a HREF="/setdapei">设置搭配首页排序</a></li>


<!--
                    <li {% if nav == 1 %} class="current" {% endif %}><a HREF="/xx/">修片任务</a>						
					</li>
					<li {% if nav == 2 %} class="current" {% endif %} ><a HREF="/xb/">背景任务</a></li>
-->

                    <li {% if nav == 7 %} class="current" {% endif %}   ><a HREF="/upload/">批量上传图片</a></li>

                    
				
                </ul>
</nav>